**/tax_dump.sql
**/run_picdb.sh
**/dummy_cleaner.py
**/picdb_config.py
*.DS_Store
/image_client/duplicates-Botany.txt
*.csv
*.RData
*_config.py
*/output.txt
*.Rhistory
*-Botany.txt
**/iz_importer_config.py
/unmatched_taxa/*
**/picturae_purge_script.sql
*.pyc
.idea
venv
docker-compose.yml
settings.py
settings.production.py
settings.development.py
/image_client/botany_importer_config.development.py
/image_client/botany_importer_config.production.py
/image_client/ich_importer_config.production.py
/image_client/ich_importer_config.development.py
/image_client/server_host_settings.development.py
/image_client/server_host_settings.production.py
/image_client/server_host_settings.py
/data
/env
*.JPG
*.TIF
.hidden_*
/tests/casbotany_lite.db
